<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<% if logged_in? %>
<%=link_to 'Sign Out', logout_path%>
<% else %>
<%= link_to 'Sign In', login_path %>
<%end%>
<%= link_to "Main", articles_path %>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
  <body>
    <p class="flash">
     <%=flash.notice%>
    </p>
    <div id="container">
      <div id="content">
        <%= yield %>
        <hr>
        <h6>
          <% if logged_in? %>
           <%= "Signed In: #{current_user.email}" %>
          <% else %>
           Not Logged In
          <% end %>
        </h6>
      </div>
    </div>
  </body>
</html>
